{% extends "base.html" %}
{% block content %}
    {% if slug %}
    <div class="col-xs-12 col-md-6">
        <h2>Sorry, no whisky found for “{{ slug }}” :(</h2>
    </div><!-- end div.col-xs-6 -->
    <div class="col-xs-12 col-md-6">
        <h4>Why?</h4>
        <p>
            We work with <a href="https://www.mathstat.strath.ac.uk/outreach/nessie/nessie_whisky.html">
            an open database of whiskies</a> and probably “{{ slug }}” is not on that list.
        </p>
        <p>
            Unfortunately we are not in charge of this database and there is
            little we can do right now. We saved this search and we are looking
            forward an opportunity to include it in the database in the future.
        </p>
        <p>
            Why don't you give <a href="/{{ random_one.slug }}"class="label label-default">{{ random_one.distillery }}</a>
            a try?
        </p>
    </div><!-- end div.col-xs-6 -->
    {% else %}      
    <div class="col-xs-12">
        <h2>Ooops, no flask for you :(</h2>
        <h4>404</h4>
    </div><!-- end div.col-xs-12 -->
    {% endif %}
{% endblock %}
