						<form class="search-bar form-inline" action="{{ url_for('site.search') }}" method="get">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="s" id="s" placeholder="Tell us a whisky distillery you like"/> 
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" type="submit">Find them!</button>
                                                        </span>
						    </div>
                                                </form>
