{% extends "base.html" %}
{% block content %}
    <div class="col-xs-12">
        <h2 class="h3">
            {{ whisky.correlations|count }} whiskies for
            <span class="label label-default">{{ whisky.distillery }}</span>
            lovers:
        </h2>
    </div><!-- div.col-xs-12 -->
    {% for correlation in whisky.correlations %}
        <div class="chart col-xs-12 col-md-4 whisky-card">
            <h3 class="h4">{{ correlation.distillery }}</h3>
            <p class="chart-label">
                <span class="glyphicon glyphicon-unchecked whisky"></span>
                {{ correlation.distillery }}
                <span class="glyphicon glyphicon-unchecked reference"></span>
                {{ whisky.distillery }}
            </p>
            {{ correlation.chart|safe }}
            <p class="correlation">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                You have a
                <span class="label label-default">{{ '{0:.0f}'.format(correlation.value * 100) + '%' }}</span>
                chance <br>
                of liking <strong>{{ correlation.distillery }}</strong>!
            </p>
        </div><!-- end div.whisky-card -->
    {% endfor %}
{% endblock %}
