.autocomplete-suggestions {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  background-clip: padding-box;
  overflow: hidden;
}

.autocomplete-suggestion {
  padding: 2px 5px; 
  white-space: nowrap;
  overflow: hidden;
  strong { font-weight: bold; }
}

.autocomplete-selected {
 color: #fff;
 background-color: #0081c2;
 background-image: linear-gradient(to bottom, #0088cc, #0077b3);
 background-repeat: repeat-x;
}
