div.whisky-card {
	margin-bottom: 3em;
	img {
		width: 330px;
		height: 260px;		
	}
}

div.whisky-card h3,
div.whisky-card p.chart-label,
div.whisky-card p.correlation {
	text-align: center;
}

div.whisky-card p.chart-label,
div.whisky-card p.correlation {
	color: #999;	
}

div.whisky-card p.correlation {
	margin-top: 1em;
}

div.whisky-card p.chart-label span.whisky {
	color: #3375B4;
}

div.whisky-card p.chart-label span.reference {
	color: #cecece;
}
