-extends "base.slim"
-block content
  div.col-xs-12.jumbotron
    h1 Welcome, whisky lover!
    p This web app will help you to discover whiskies that you will probably like.
    p All we need to know is one whisky that you already like. Just type its name on the search box, or try looking for whiskies similar to <strong>{{random_one.distillery}}</strong>:
    p
      a.btn.btn-primary.btn-lg role="button" href="/w/{{random_one.id}}" Check whiskies for {{random_one.distillery}} lover!
